# Patient Data web Scraping

<a href="https://github.com/sreyaz01/covid_19_india_data_scraping"><img src="https://i.ibb.co/B3vvzTy/0-s-Y-XTIBzlfd2zskq.png" alt="0-s-Y-XTIBzlfd2zskq" border="0"></a>

### <li>Data Source<br>
    
https://api.covid19india.org/

Due to the growing size of the raw data, and the fact that regions like DL, MH, TG are only providing district level information, we have made a change in our data collection. Now, raw data is available in three parts :

api.covid19india.org/raw_data1.json (Data till EoD Apr 19th)
api.covid19india.org/raw_data2.json (Data till EoD Apr 26th)
api.covid19india.org/raw_data3.json (Live ðŸš€)

In [1]:
# libraries
import requests 
import pandas as pd
import numpy as np
import json

# Hide warnings
import warnings
warnings.filterwarnings('ignore')

print('Pandas Version',pd.__version__)

Pandas Version 1.0.1

## Scraping

#### <li>Till Apr 19

In [16]:
link = 'https://api.covid19india.org/raw_data1.json'
# getting response from the web page
web = requests.get(link)

# getting contents from the response
content = web.content

# parse the json file
parsed = json.loads(content)
#parsed

#contents inside json file
parsed.keys()

dict_keys(['raw_data'])

#### <li>Saving to DataFrame

In [17]:
df1 = pd.DataFrame(parsed['raw_data'])
print(df1.shape)
df1.head()

(17306, 20)

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,gender,nationality,notes,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,20,Student from Wuhan,,Recovered,30/01/2020,Thrissur,Thrissur,Kerala,,F,India,Travelled from Wuhan,1,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-TS-P1,14/02/2020,Imported
1,,Student from Wuhan,,Recovered,02/02/2020,Alappuzha,Alappuzha,Kerala,,,India,Travelled from Wuhan,2,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-AL-P1,14/02/2020,Imported
2,,Student from Wuhan,,Recovered,03/02/2020,Kasaragod,Kasaragod,Kerala,,,India,Travelled from Wuhan,3,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,KL,KL-KS-P1,14/02/2020,Imported
3,45,Travel history to Italy and Austria,,Recovered,02/03/2020,East Delhi (Mayur Vihar),East Delhi,Delhi,,M,India,"Travelled from Austria, Italy",4,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,,DL,DL-P1,15/03/2020,Imported
4,24,"Travel history to Dubai, Singapore contact",,Recovered,02/03/2020,Hyderabad,Hyderabad,Telangana,,M,India,"Travelled from Dubai to Bangalore on 20th Feb,...",5,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,TG,TS-P1,02/03/2020,Imported

In [31]:
print(len(df1.columns))
df1.columns

20

Index(['agebracket', 'backupnotes', 'contractedfromwhichpatientsuspected',
       'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict',
       'detectedstate', 'estimatedonsetdate', 'gender', 'nationality', 'notes',
       'patientnumber', 'source1', 'source2', 'source3', 'statecode',
       'statepatientnumber', 'statuschangedate', 'typeoftransmission'],
      dtype='object')

#### <li>Till Apr 26

In [19]:
link = 'https://api.covid19india.org/raw_data2.json'
# getting response from the web page
web = requests.get(link)

# getting contents from the response
content = web.content

# parse the json file
parsed = json.loads(content)
#parsed

#contents inside json file
parsed.keys()

dict_keys(['raw_data'])

#### <li>Saving to DataFrame

In [20]:
df2 = pd.DataFrame(parsed['raw_data'])
print(df2.shape)
df2.head()

(10585, 20)

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,gender,nationality,notes,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,48,,,Hospitalized,20/04/2020,,Bhadrak,Odisha,,M,,Details awaited,17307,https://twitter.com/the_hindu/status/125205985...,,,OR,,20/04/2020,
1,55,,,Hospitalized,20/04/2020,,Bhadrak,Odisha,,M,,Details awaited,17308,https://twitter.com/the_hindu/status/125205985...,,,OR,,20/04/2020,
2,57,,,Hospitalized,20/04/2020,,Bhadrak,Odisha,,M,,Details awaited,17309,https://twitter.com/the_hindu/status/125205985...,,,OR,,20/04/2020,
3,58,,,Hospitalized,20/04/2020,,Bhadrak,Odisha,,M,,Details awaited,17310,https://twitter.com/the_hindu/status/125205985...,,,OR,,20/04/2020,
4,66,,,Hospitalized,20/04/2020,,Bhadrak,Odisha,,M,,Details awaited,17311,https://twitter.com/the_hindu/status/125205985...,,,OR,,20/04/2020,

In [29]:
print(len(df2.columns))
df2.columns

20

Index(['agebracket', 'backupnotes', 'contractedfromwhichpatientsuspected',
       'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict',
       'detectedstate', 'estimatedonsetdate', 'gender', 'nationality', 'notes',
       'patientnumber', 'source1', 'source2', 'source3', 'statecode',
       'statepatientnumber', 'statuschangedate', 'typeoftransmission'],
      dtype='object')

#### <li> Live Data

In [22]:
link = 'https://api.covid19india.org/raw_data3.json'
# getting response from the web page
web = requests.get(link)

# getting contents from the response
content = web.content

# parse the json file
parsed = json.loads(content)
#parsed

#contents inside json file
parsed.keys()

dict_keys(['raw_data'])

In [23]:
df3 = pd.DataFrame(parsed['raw_data'])
print(df3.shape)
df3.head()

(5057, 20)

,agebracket,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,entryid,gender,nationality,notes,numcases,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,,,Hospitalized,27/04/2020,,,West Bengal,1,,,Details awaited,38,27892,mohfw.gov.in,,,WB,,,
1,,,Hospitalized,27/04/2020,,Bhilwara,Rajasthan,2,,,Details awaited,2,27893,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,
2,,,Hospitalized,27/04/2020,,Jaipur,Rajasthan,3,,,Details awaited,9,27894,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,
3,28,,Deceased,27/04/2020,Surajpol,Jaipur,Rajasthan,4,M,,Details awaited,1,27895,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,
4,,,Hospitalized,27/04/2020,,Jaisalmer,Rajasthan,5,,,Details awaited,1,27896,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,

In [28]:
print(len(df3.columns))
df3.columns

20

Index(['agebracket', 'contractedfromwhichpatientsuspected', 'currentstatus',
       'dateannounced', 'detectedcity', 'detecteddistrict', 'detectedstate',
       'entryid', 'gender', 'nationality', 'notes', 'numcases',
       'patientnumber', 'source1', 'source2', 'source3', 'statecode',
       'statepatientnumber', 'statuschangedate', 'typeoftransmission'],
      dtype='object')

## Merging DataFrames

#### Columns Deffrences

In [36]:
np.setdiff1d(df1.columns,df2.columns)

array([], dtype=object)

In [35]:
np.setdiff1d(df2.columns,df3.columns)

array(['backupnotes', 'estimatedonsetdate'], dtype=object)

#### Data Cleaning

In [40]:
df3 = df3.drop(['entryid', 'numcases'], axis = 1)

In [44]:
df = pd.concat([df1, df2, df3])

print(df.shape)
df.head(2)

(32948, 20)

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,gender,nationality,notes,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,20,Student from Wuhan,,Recovered,30/01/2020,Thrissur,Thrissur,Kerala,,F,India,Travelled from Wuhan,1,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-TS-P1,14/02/2020,Imported
1,,Student from Wuhan,,Recovered,02/02/2020,Alappuzha,Alappuzha,Kerala,,,India,Travelled from Wuhan,2,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-AL-P1,14/02/2020,Imported

In [43]:
df.columns

Index(['agebracket', 'backupnotes', 'contractedfromwhichpatientsuspected',
       'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict',
       'detectedstate', 'estimatedonsetdate', 'gender', 'nationality', 'notes',
       'patientnumber', 'source1', 'source2', 'source3', 'statecode',
       'statepatientnumber', 'statuschangedate', 'typeoftransmission'],
      dtype='object')

## Final DataFrame Prepration

### Data cleaning and transformations

In [45]:
df['p_id'] = df['patientnumber'].apply(lambda x : 'P'+str(x))
df.columns

Index(['agebracket', 'backupnotes', 'contractedfromwhichpatientsuspected',
       'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict',
       'detectedstate', 'estimatedonsetdate', 'gender', 'nationality', 'notes',
       'patientnumber', 'source1', 'source2', 'source3', 'statecode',
       'statepatientnumber', 'statuschangedate', 'typeoftransmission', 'p_id'],
      dtype='object')

#### Rearranging and Renaming Columns

In [47]:
# order of columns
cols = ['patientnumber', 'p_id', 'statepatientnumber', 
        'dateannounced', 'agebracket', 'gender', 
        'detectedcity', 'detecteddistrict', 'detectedstate', 'statecode', 'nationality',
        'typeoftransmission', 'contractedfromwhichpatientsuspected',
        'statuschangedate', 'currentstatus', 'estimatedonsetdate',
        'source1', 'source2', 'source3', 'notes', 'backupnotes']

# rearrange columns
df = df[cols]

# rename columns
df.columns = ['patient_number', 'p_id', 'state_patient_number', 
              'date_announced', 'age_bracket', 'gender', 
              'detected_city', 'detected_district', 'detected_state', 'state_code', 'nationality',
              'type_of_transmission', 'contracted_from_which_patient_suspected',
              'status_change_date', 'current_status', 'estimated_onset_date',
              'source1', 'source2', 'source3', 'notes', 'backup_notes']

# dataframe shape
df.shape

(32948, 21)

In [48]:
#sampling DataFrame
df.sample(3)

,patient_number,p_id,state_patient_number,date_announced,age_bracket,gender,detected_city,detected_district,detected_state,state_code,...,type_of_transmission,contracted_from_which_patient_suspected,status_change_date,current_status,estimated_onset_date,source1,source2,source3,notes,backup_notes
10507,10508,P10508,,14/04/2020,,,,,West Bengal,WB,...,,,14/04/2020,Hospitalized,,mohfw.gov.in,,,Details awaited,
11926,11927,P11927,,15/04/2020,,,,Mumbai,Maharashtra,MH,...,,,15/04/2020,Hospitalized,,https://twitter.com/ANI/status/125043632276379...,https://twitter.com/rajeshtope11/status/125044...,,Details awaited,
3655,3656,P3656,,04/04/2020,,,,Mumbai,Maharashtra,MH,...,,,,Hospitalized,,https://twitter.com/rajeshtope11/status/124648...,,,,

#### Missing Values or Empty String Handling

In [49]:
for i in df.columns:
    filt = (df[i] == '' ) # creating empty string search filter
    empty = df.loc[filt].shape
    print(i, '------\t', empty[0])

patient_number ------	 570
p_id ------	 0
state_patient_number ------	 28000
date_announced ------	 67
age_bracket ------	 28225
gender ------	 25794
detected_city ------	 30344
detected_district ------	 7784
detected_state ------	 74
state_code ------	 77
nationality ------	 30241
type_of_transmission ------	 29958
contracted_from_which_patient_suspected ------	 31186
status_change_date ------	 5168
current_status ------	 69
estimated_onset_date ------	 27891
source1 ------	 487
source2 ------	 29037
source3 ------	 32469
notes ------	 4773
backup_notes ------	 27530

In [52]:
# replacing empty strings with np.nan
# ==================================-

print(df.shape)

df = df.replace(r'', np.nan, regex=True)
df.sample(5)

(32948, 21)

,patient_number,p_id,state_patient_number,date_announced,age_bracket,gender,detected_city,detected_district,detected_state,state_code,...,type_of_transmission,contracted_from_which_patient_suspected,status_change_date,current_status,estimated_onset_date,source1,source2,source3,notes,backup_notes
2639,19946,P19946,NaN,21/04/2020,NaN,NaN,NaN,Hyderabad,Telangana,TG,...,NaN,NaN,21/04/2020,Hospitalized,NaN,https://twitter.com/TelanganaHealth/status/125...,NaN,NaN,Details awaited,NaN
9255,9256,P9256,KA-P235,13/04/2020,74,F,Hubballi,Dharwad,Karnataka,KA,...,Local,P6266,13/04/2020,Hospitalized,NaN,https://t.me/Karnataka_KoViD19_Broadcast/1933,https://twitter.com/DHFWKA/status/124960075639...,NaN,Contact of KA-P194,NaN
5004,22311,P22311,NaN,23/04/2020,NaN,NaN,NaN,NaN,Maharashtra,MH,...,NaN,NaN,23/04/2020,Hospitalized,NaN,https://twitter.com/ANI/status/125334219922530...,NaN,NaN,Details awaited,NaN
7215,24522,P24522,NaN,25/04/2020,NaN,NaN,NaN,Dholpur,Rajasthan,RJ,...,NaN,NaN,25/04/2020,Hospitalized,NaN,https://twitter.com/PIBJaipur/status/125389818...,NaN,NaN,Details awaited,NaN
5122,5123,P5123,NaN,07/04/2020,NaN,NaN,NaN,Mumbai,Maharashtra,MH,...,NaN,NaN,07/04/2020,Hospitalized,NaN,https://twitter.com/rajeshtope11/status/124755...,NaN,NaN,Details awaited,NaN

In [53]:
df.isnull().sum()

patient_number                               570
p_id                                           0
state_patient_number                       28000
date_announced                                67
age_bracket                                28225
gender                                     25794
detected_city                              30344
detected_district                           7784
detected_state                                74
state_code                                    77
nationality                                30241
type_of_transmission                       29958
contracted_from_which_patient_suspected    31186
status_change_date                          5168
current_status                                69
estimated_onset_date                       32948
source1                                      487
source2                                    29037
source3                                    32469
notes                                       4773
backup_notes                               32587
dtype: int64

In [54]:
# droping empty rows (row with just row number but without patient entry


print(df.shape)

df.dropna(subset=['detected_state'], inplace=True)

print(df.shape)
df.isnull().sum()

(32948, 21)
(32874, 21)

patient_number                               502
p_id                                           0
state_patient_number                       27926
date_announced                                 0
age_bracket                                28151
gender                                     25720
detected_city                              30270
detected_district                           7712
detected_state                                 0
state_code                                     3
nationality                                30167
type_of_transmission                       29884
contracted_from_which_patient_suspected    31112
status_change_date                          5094
current_status                                 2
estimated_onset_date                       32874
source1                                      420
source2                                    28963
source3                                    32396
notes                                       4705
backup_notes                               32513
dtype: int64

In [55]:
df.to_csv(r'C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset\patients_data.csv', index=False)

# State Testing Data

### Web Scarping

In [58]:
link = 'https://api.covid19india.org/state_test_data.json'
# getting response from the web page
web = requests.get(link)

# getting contents from the response
content = web.content

# parse the json file
parsed = json.loads(content)
#parsed

#contents inside json file
parsed.keys()

dict_keys(['states_tested_data'])

### Saving to DataFrame

In [66]:
st = pd.DataFrame(parsed['states_tested_data'])
print(st.shape)
st.head(3)

(761, 21)

,negative,numcallsstatehelpline,numicubeds,numisolationbeds,numventilators,populationsourcecovid19india,positive,source,source2,state,...,testpositivityrate,testspermillion,testsperthousand,totalpeopleinquarantine,totalpeoplereleasedfromquarantine,totaltested,unconfirmed,updatedon,_d415a,_d5fpr
0,1210,,,50,,397000,12,https://t.me/indiacovid/2550,,Andaman and Nicobar Islands,...,0.86%,3534,3.53,,,1403,181,17/04/2020,NaN,NaN
1,,280,,50,,,27,https://t.me/indiacovid/3147?single,,Andaman and Nicobar Islands,...,1.01%,6748,6.75,,,2679,246,24/04/2020,1000,1000000
2,,298,,50,,,33,https://t.me/indiacovid/3365?single,,Andaman and Nicobar Islands,...,1.16%,7174,7.17,,,2848,106,27/04/2020,NaN,NaN

In [67]:
st.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 761 entries, 0 to 760
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   negative                           761 non-null    object
 1   numcallsstatehelpline              761 non-null    object
 2   numicubeds                         761 non-null    object
 3   numisolationbeds                   761 non-null    object
 4   numventilators                     761 non-null    object
 5   populationsourcecovid19india       761 non-null    object
 6   positive                           761 non-null    object
 7   source                             761 non-null    object
 8   source2                            761 non-null    object
 9   state                              761 non-null    object
 10  tags                               761 non-null    object
 11  testpositivityrate                 761 non-null    object
 12  testspermillion                    761 non-null    object
 13  testsperthousand                   761 non-null    object
 14  totalpeopleinquarantine            761 non-null    object
 15  totalpeoplereleasedfromquarantine  761 non-null    object
 16  totaltested                        761 non-null    object
 17  unconfirmed                        761 non-null    object
 18  updatedon                          761 non-null    object
 19  _d415a                             1 non-null      object
 20  _d5fpr                             1 non-null      object
dtypes: object(21)
memory usage: 125.0+ KB

####  Rearranging and Renaming Columns

In [69]:
cols = ['state', 'updatedon', 'totaltested', 'testspermillion', 'testsperthousand',
        'positive', 'negative', 'unconfirmed', 'testpositivityrate',
        'totalpeopleinquarantine', 'totalpeoplereleasedfromquarantine', 'populationsourcecovid19india',
        'numicubeds', 'numisolationbeds', 'numventilators', 'numcallsstatehelpline',
        '_d415a', '_d5fpr', 'source', 'source2']

st = st[cols]

st.head()

,state,updatedon,totaltested,testspermillion,testsperthousand,positive,negative,unconfirmed,testpositivityrate,totalpeopleinquarantine,totalpeoplereleasedfromquarantine,populationsourcecovid19india,numicubeds,numisolationbeds,numventilators,numcallsstatehelpline,_d415a,_d5fpr,source,source2
0,Andaman and Nicobar Islands,17/04/2020,1403,3534,3.53,12,1210,181,0.86%,,,397000,,50,,,NaN,NaN,https://t.me/indiacovid/2550,
1,Andaman and Nicobar Islands,24/04/2020,2679,6748,6.75,27,,246,1.01%,,,,,50,,280,1000,1000000,https://t.me/indiacovid/3147?single,
2,Andaman and Nicobar Islands,27/04/2020,2848,7174,7.17,33,,106,1.16%,,,,,50,,298,NaN,NaN,https://t.me/indiacovid/3365?single,
3,Andaman and Nicobar Islands,01/05/2020,3754,9456,9.46,33,,199,0.88%,643,,,,50,,340,NaN,NaN,https://t.me/indiacovid/3781,
4,Andhra Pradesh,02/04/2020,1800,34,0.03,132,1175,493,7.33%,179,,52221000,2680,23479,330,,NaN,NaN,https://twitter.com/ArogyaAndhra/status/124558...,

In [70]:
st.to_csv(r'C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset\state_testing.csv', index=False)

# Zones Distribution

### Web Scarping

In [71]:
# get response from the web page
response = requests.get('https://api.covid19india.org/zones.json')

# get contents from the response
content = response.content

# parse the json file
parsed = json.loads(content)

# keys
parsed.keys()

dict_keys(['zones'])

### Saving to DataFrame

In [72]:
zone = pd.DataFrame(parsed['zones'])
zone.head(3)

,district,districtcode,lastupdated,source,state,statecode,zone
0,Nicobars,AN_Nicobars,01/05/2020,https://www.facebook.com/airnewsalerts/photos/...,Andaman and Nicobar Islands,AN,Green
1,North and Middle Andaman,AN_North and Middle Andaman,01/05/2020,https://www.facebook.com/airnewsalerts/photos/...,Andaman and Nicobar Islands,AN,Green
2,South Andaman,AN_South Andaman,01/05/2020,https://www.facebook.com/airnewsalerts/photos/...,Andaman and Nicobar Islands,AN,Red

In [74]:
zone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 742 entries, 0 to 741
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   district      742 non-null    object
 1   districtcode  742 non-null    object
 2   lastupdated   742 non-null    object
 3   source        742 non-null    object
 4   state         742 non-null    object
 5   statecode     742 non-null    object
 6   zone          742 non-null    object
dtypes: object(7)
memory usage: 40.7+ KB

In [75]:
zone.to_csv(r'C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset\zones.csv', index=False)